@model PagedList<MerchantItem>
@{
    Layout = "~/Views/Shared/_LeftSidebar.cshtml";
    ViewData["Title"] = "商户列表";
}
<div id="maintitle">商户列表</div>
<div id="lv" class="listview viewblock">
    @(Html.ResultMessage())
    @if (Model != null)
    {
        <div class="toolbox">
            <div class="toolitem" style="line-height:35px;">商户状态：</div>
            <div class="toolitem" style="margin-right:10px;width:100px;">
                <select id="ddlMerchantStatus" class="formfield">
                    @(Html.DropDownOptions<MerchantStatus>(ViewData["MerchantStatus"]))
                </select>
            </div>
            <div class="toolitem" style="width:358px;">
                <input id="txtKeyword" type="text" class="formfield" style="width:250px;" spellcheck="false" value="@(ViewData["Keyword"])" />
                <button id="btnSearch" class="btn btn-main">搜索</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td style="width:105px;">商户编号</td>
                    <td>商户名称</td>
                    <td style="width:60px;">商户类型</td>
                    <td style="width:70px;">账户状态</td>
                    <td style="width:150px;">法人姓名</td>
                    <td style="width:90px">法人手机号</td>
                    <td style="width:135px;">操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(item.MerchantNo)</td>
                        <td>@(item.MerchantName)</td>
                        <td>@(item.MerchantType.GetDescription())</td>
                        <td><span class="mer-status-@(item.MerchantStatus.ToString().ToLowerInvariant())">@(item.MerchantStatus.GetDescription())</span></td>
                        <td>@(item.LegalPersonRealName)</td>
                        <td>@(item.LegalPersonMobile)</td>
                        <td>
                            <div class="ops">
                                @if (item.MerchantStatus == MerchantStatus.WaitForActive)
                                {
                                    <a data-active-no="@(item.MerchantNo)">激活</a>
                                }
                                <a href="/merchant/detail?merchantNo=@(item.MerchantNo)">详情</a>
                                <a href="/merchant/edit?merchantNo=@(item.MerchantNo)">编辑</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (Model.PageInfo.PageCount > 1)
        {
            <div class="pagenav">
                <div class="pageblock">
                    @if (Model.PageInfo.HasPrev)
                    {
                        <a href="?page=@(Model.PageInfo.PageIndex-1)" title="上一页">&lt;</a>
                    }
                    @foreach (var num in Model.PageInfo.PageNumbers)
                    {
                        if (num == Model.PageInfo.PageIndex)
                        {
                            <a class="selected">@(num)</a>
                        }
                        else
                        {
                            <a href="?page=@(num)@(ViewData.GetQS())">@(num)</a>
                        }
                    }
                    @if (Model.PageInfo.HasNext)
                    {
                        <a href="?page=@(Model.PageInfo.PageIndex+1)" title="下一页">&gt;</a>
                    }
                </div>
            </div>
        }
    }
</div>
@section Scripts{@(Scripts.Render("~/js/merchant/list"))}