@{Layout = "~/Views/Shared/_Layout.cshtml";}@section Styles{@(RenderSection("Styles", false))
}<div id="topbar">
    <div class="logo">ZF商户管理系统</div>
    <div id="userinfo">
        <div class="avatar">
            @{
                var session = Html.GetUserSession();
                if (session != null)
                {
                    @(session.RealName)
                }
        }
    </div>
    <div class="menu">
        <a href="/auth/logout">退出</a>
    </div>
</div>
<div class="clear"></div>
</div>
<div id="topbarfix"></div>
<div id="mainbody">
    <div id="sidebar">
        <div class="sidemodule">
            <div class="head">商户管理</div>
            <div class="body">
                @(Html.SidebarStaticLink("商户开户", "/merchant/edit"))
                @(Html.SidebarDynamicLink("编辑商户"))
                @(Html.SidebarDynamicLink("商户详情"))
                @(Html.SidebarStaticLink("商户列表", "/merchant/list"))
            </div>
        </div>
        <div id="copyright">
            Copyright&nbsp;&copy;&nbsp;2019-@(DateTime.Now.Year)<br />Powered&nbsp;by&nbsp;ASP.NET
        </div>
    </div>
    <div id="mainblock">@(RenderBody())</div>
    <div class="clear"></div>
</div>@section Scripts{@(RenderSection("Scripts", false))}